
.item{
    display: flex;
    margin-bottom: 10px;
    background-color:  #ffbd86;
    border-radius: 5px; 
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.check{
    margin-right: 10px;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

h2{
    color:  #df6c0e;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

ul {
    list-style-type: none; 
    padding-left: 0; 
}

li{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
}

button{
    background-color:#513612; 
     color: white; 
     padding: 9px 9px; 
     border: none; 
     border-radius: 10px;
     cursor: pointer; 
     transition: background-color 0.3s ease; 
     margin-left: 5px;
}
   
button:hover {
    background-color: #6b4716;
}

input.check{
    height: 20px;
    width: 20px;
}

input{
    border: 2px solid #ccc; 
    border-radius: 5px; 
    padding: 5px 10px;
    font-size: 14px; 
    outline: none;    
}    


input[type="checkbox"] {
    accent-color: green; 
    cursor: pointer;
}

h1{
    color: rgb(164, 82, 0);
    font-family: 'Stencil Std', fantasy, sans-serif;
    font-size: 1.5rem;
}

.notTask{
    justify-items: center;
    margin-top: 20px;
    font-size: 20px;
    color:  #df6c0e;
    font-family: 'Stencil Std', fantasy, sans-serif;
}

.end{
    display: flex;
    align-items: center;
    gap: 10px;
}

