@if (getNotChecked().length) {
    <div class="lista">
        <h2>Pendentes</h2>
        <ul>
            @for (item of getNotChecked(); track item.id) {
                @if (!item.edition) {
                    <div class="item">
                        <div class="desc">
                                <input #myInput [id]=item.id class="check" (change)="onCheckboxChange(item, myInput)" type="checkbox">
                            <li>{{item.description}}</li>
                        </div>
                        <div class="buttons">
                            <button (click)="delete(item)" class="delete">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            @if (teste) {
                                <button (click)="toggleEdition(item)">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            }
                        </div>
                    </div>
                
    
                } @else {
                    <div class="item">
                        <div class="desc">
                            <input #input type="text"  [value]="inputValue" (keydown.enter)="changeTask(item, input.value)" >
                        </div>  
                        <div class="buttons">
                            <button (click)="toggleEdition(item)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <button (click)="changeTask(item, input.value)">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>    
                    </div>
                }
            }
        </ul>
    </div>
}

@if(getChecked().length) {
    <div class="listaDone">
        <h2>Concluídas</h2>
        <ul>
            @for (item of getChecked() ; track item.id) {
                <div class="item">
                    <div class="desc">
                        <li>
                            <input #myInput [id]=item.id class="check" (change)="onCheckboxChange(item, myInput)" type="checkbox" checked>
                        </li>    
                        <li>{{item.description}}</li>
                       
                    </div>

                    <div class="end">
                        <li><strong>Finalizado:</strong> {{item.terminationTime | date:'dd/MM/yyyy HH:mm' }}</li>
                        <li>
                            <button (click)="delete(item)" class="delete">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>  
                        </li>      
                    </div> 
   
                </div>
            }
        </ul>
    </div>
}

@if (!list.length) {
    <div class="notTask">
        <p> Não há tarefas</p>
    </div>
}
