.container{
    width: 40%;
}

.container-justify{
    justify-items: center;
}

h1{
    color:  #df6c0e;
    font-family: 'Stencil Std', fantasy, sans-serif;
    font-size: 50px;
}

img{
    width: 70px;
    height: 70px;
}

.intro{
    margin-top: 50px;
    display:flex;
    align-items: center; 
    justify-content: center;
}
