<div class="lista">
    <ul>
        @for (item of list; track $index) {
            @if (!item.edition) {
                <li>{{item.description}}</li>
                <button (click)="delete($index)">
                    <i class="fa-regular fa-trash-can"></i>
                </button>
                <button (click)="toggleEdition($index)">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>

            } @else {
                <input #input type="text"  [value]="inputValue">
                <button (click)="toggleEdition($index)">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <button (click)="changeTask($index, input.value)">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            }
        }
    </ul>
    
</div>



